<%- include partials/header.ejs %>
<%- include partials/nav.ejs %>

<main role="main" class="container">
  <h2 class="mt-5 h2-styles"><%= inject.seoLibrary.getRouteTitle(locals.pageACL.resource) %></h2>
  <p>
    Something went wrong, sorry for this. 
    Please return to the site using the links at the top of the page.
  </p>
</main>

<%- include partials/footer.ejs %>
