<div class="tab-pane fade show active" id="list-current-broadcast" role="tabpanel" aria-labelledby="list-current-broadcast-list">

    <div class="card">
      <div class="card-header">
        Current broadcast
      </div>
      <div class="card-body">
        Current broadcast
      </div>
    </div>
  
  </div>
  