<div class="tab-pane fade" id="list-previous-broadcasts" role="tabpanel" aria-labelledby="list-previous-broadcasts-list">

    <div class="card">
      <div class="card-header">
        Previous broadcasts
      </div>
      <div class="card-body">
        Previous broadcasts
      </div>
    </div>
  
  </div>
  